

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyS3Chat</title>

    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="shortcut icon" type="image/x-icon" href="~/Content/Images/icon-4kb.png" />



</head>
<body>

    <div class="app-body img-responsive">


        <div class="homelogo">
            <center>

                <a href="~/"><img src="~/Content/Images/MyS3Chat13kb.png" class="img-responsive" /></a>
             
            </center>

        </div>

        <hr />

       
        <div class="emailsuccess">

            <h3>Password reset request</h3>
            <div class="alert alert-success">
                An email with password reset link is sent please open your email to reset password.
            </div>

        </div>
                
</div>


</body>
</html>
